venv*
uvenv*
wvenv*
.vscode
__pycache__
*/__pycache__
.idea
dataset/*
!dataset/labeled.tgz
deploy/inference/*
*/**.DS_store
.DS_Store
*.tar
output/*
.ipynb_checkpoints
*.ipynb
*/**/*.log
inference/